/*
html {
	font-size: 20px;
}
*/
.home {
	background-image: url(../images/home.png);
	background-color: #66cc99;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	// height: auto;
	// height: 100vh;
}

.home-container {
	padding-top: 89.8px; // the height of my navbar
}

.jumbotron {
	margin: 16.2vh 0;
	border: solid $green;
	border-width: 3px 0;
	background: rgba(black, .5);
	min-height: calc(100vh - 89.8px - 16.2vh * 2);
}

.jbtrn-header, .map-header {
	-webkit-text-stroke: 1.4px $green;
	text-shadow:
		2.4px 2.4px 0 $green,
			-1px -1px 0 $green,
		 	 1px -1px 0 $green,
		   -1px 1px 0 $green,
		    1px 1px 0 $green;
	font-size: clamp(55px, 15vw, 80px);
}

.jbtrn-body {
	font-size: .9rem;
}

.jbtrn-line {
	background-color: $white;
}

.jbtrn-info {
	font-size: .7rem;
}

.jbtrn-button {
	font-family: $BebasNeue;
	font-size: 1.1rem;
 	padding: .4em .8em;
}

.jbtrn-button:hover {
	color: $yellow;
}

.map-api {
	width: 100%;
	margin-bottom: 16.2vh;
	// margin-top: 2em;
	padding: 32px 16px;
	border: solid $green;
	border-width: 3px 0;
	background: rgba(black, .5);
}

#map {
	width: 100%; // width: 600px; on desktop view 
	min-height: calc(100vh - 50vh);
	// margin-bottom: 16px;
}

@media screen and (min-width: 411px) {
	.navbar-brand {
		font-size: 2.1rem;
	}
	
	.navbar-toggler {
		font-size: 21px;
		padding: 5.5px 13.5px;
	}
	
	.nav-item {
		font-size: 1.5rem;
	}
	
	.jbtrn-body {
		font-size: 1rem;
	}
	
	.jbtrn-info {
		font-size: .8rem;
	}
	
	.jbtrn-button {
		font-size: 1.3rem;
	}
}

@media screen and (min-height: 812px) {
	.navbar-brand {
		font-size: 2.2rem;
	}
	
	.navbar-toggler {
		font-size: 22px;
		padding: 7px 15px;
	}
	
	.nav-item {
		font-size: 1.6rem;
	}
	
	.jbtrn-body {
		font-size: 1.1rem;
	}
	
	.jbtrn-info {
		font-size: .9rem;
	}
	
	.jbtrn-button {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 992px) {
	.home {
		height: 100vh;
	}
	
	.jumbotron, .map-api {
		margin: 0;
		background: transparent;
	}
	
	.jbtrn-header, .map-header {
		color: rgba(black, .5);
		-webkit-text-stroke: 2px $green;
		text-shadow: none;
	}
	
	// temporary only
	.navbar-brand {
		font-size: 2.3rem;
	}
	
	.nav-item {
		font-size: 1.6rem;
	}
	
	.jbtrn-body {
		font-size: 1.3rem;
	}
	
	.jbtrn-info {
		font-size: .9rem;
	}
	
	.jbtrn-button {
		font-size: 1.4rem;
	}
	
	#map {
		min-height: calc(100vh - 40vh);
	}
}






