.products {
	height: calc(100% - 89.8px);
}

.products-container {
	position: relative;
}

.bg-column {
	padding: 0;
	background-color: $black;
	background-image: url(../images/logo.png);
	background-position: center center;
	background-size: 42%;
	background-repeat: no-repeat;
}

.bg-bar {
	border: solid $green;
	border-width: 7px 0 0;
}

.background {
	position: relative;
	z-index: 1;
	background-image: url(../images/bg1.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.spinner-border {
	display: inline-block;
	vertical-align: text-bottom;
	border-style: solid;
	border-color: $yellow;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spinner-border .75s linear infinite;
	-webkit-animation: spinner-border .75s linear infinite;
}

.bg-spinner {
	position: absolute;
	bottom: 10%;
	width: 4rem;
	height: 4rem;
	border-width: .8em;
}
/*
.desc {
	display: none;
}

.desc.active {
	display: block;
}
*/
.desc-header {
	color: $white;
	font-size: clamp(2rem, 6vw, 3.5rem);
	letter-spacing: 3px;
	width: fit-content;
	margin: 1em auto 0;
	padding-left: .6em;
	border-left: 5px solid $yellow;
}

.desc-body {
	color: $white;
	font-family: $light;
	font-size: clamp(.8rem, 3vw, 1.5rem);
	margin-left: 2.4375em;
	padding-right: 2em;
}

.desc-info {
	width: 48%;
	color: $white;
	font-family: $light;
	font-size: clamp(.8rem, 3vw, 1rem);
	margin: 0 21em 0 1.95em;
	padding-top: 1.25em;
	border-top: 5px solid $yellow;
}
/*
.description .descline {
	background-color: $white;
	width: 20%;
	height: 0.3rem;
	margin-left: 10px; 
}
*/
.slider-column {
	position: absolute;
}

.slider {
	width: 100%;
	//max-height: 336.3px;
	//margin:80px auto;
	position: relative;
	z-index: 2;
	border: solid #3fc380;
	border-width: 0 6px 0 10px;
	box-shadow:
		0 -3px 20px rgba(black, .2), 
		 0 3px 20px rgba(black, .2);
	//overflow: hidden; 
}

.slider-items {
	background-color: $black;
	background-image: url(../images/logo.png);
	background-position: center center;
	background-size: 32%;
	background-repeat: no-repeat;
	border: solid #3fc380;
	border-width: 0 4px 0 0;
}

.item {
	//display: none;
	position: relative;
	z-index: 1;
}
/*
.item.active {
	display: block;
}
*/
.item img {
	width: 100%;
	//display: block;
}

.slider-spinner {
	position: absolute;
	bottom: 10%;
	width: 2rem;
	height: 2rem;
	border-width: .4em;
}

.next-btn, .prev-btn {
  position: absolute;
	height: 20%;
	width: calc(100% + 16px);
	padding: 0;
	color: #f5e51b;
  background-color: #3fc380;
  cursor: pointer;
	border: solid #1e824c;
	box-shadow:
		0 -3px 20px rgba(black, .2), 
		 0 3px 20px rgba(black, .2);
}

.next-btn {
	bottom: -20%;
	right: -6px;
	border-width: 0 0 6px;
	border-radius: 0 0 15px 15px;
	box-shadow: 3px 0 20px rgba(black, .2);
}

.down-fill-icon {
	display: none;
}

.right-icon {
	display: none;
}

.right-fill-icon {
	display: none;
}

.prev-btn {
	top: -20%;
	left: -10px;
	border-width: 6px 0 0;
	border-radius: 15px 15px 0 0;
	box-shadow: -3px 0 20px rgba(black, .2);
}

.up-fill-icon {
	display: none;
}

.left-icon {
	display: none;
}

.left-fill-icon {
	display: none;
}

.next-btn:hover, .prev-btn:hover {
	color: #f5e51b;
	background-color: #2ecc71;
}

.next-btn:hover .down-fill-icon {
	display: block;
}

.prev-btn:hover .up-fill-icon {
	display: block;
}

.next-btn:focus, .prev-btn:focus {
	color: #f5e51b;
  background-color: #00b16a;
}

.next-btn:focus .down-fill-icon {
	display: block;
}

.prev-btn:focus .up-fill-icon {
	display: block;
}

.navbar-toggler:focus, .navbar-toggler-icon:focus {
	outline-color: rgba($black, .5);
	background-color: rgba($yellow, .9);
} 

@keyframes spinner-border {
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 360px) {
	.desc-column {
		height: 10vh;
	}
}

@media screen and (min-width: 411px) {
	.slider {
		width: 22rem;
	}
}

@media screen and (min-width: 540px) {
	.slider {
		width: calc(max(22rem, 60%));
	}
}

@media screen and (min-width: 768px) {
	.slider {
		width: 30rem;
	}
}

@media screen and (min-width: 992px) {
	.bg-column {
		margin: 33px 0 40px;
	}
	
	.desc-header {
		margin: 1em 0 0 30px;
		padding-left: 40px;
	}
	
	.desc-body {
		margin-left: 0;
		padding: 85px 380px 0 10px;
	}
	
	.desc-info {
		margin: 0 0 0 6px;
		padding: 20px 0 4px;
	}
	
	.slider {
		width: calc(min(45%, 34rem));
		border-width: 6px 0 10px;
	}
	
	.slider-items {
		border-width: 4px 0 0;
	}
	
	.next-btn, .prev-btn {
 		height: calc(100% + 16px);  
  	width: 12%;
	}
	
	.next-btn {
		bottom: -10px;
		right: -12%;
		border-width: 0 6px 0 0;
		border-radius: 0 15px 15px 0;
	}
	
	.down-icon {
		display: none;
	}

	.right-icon {
		display: block;
	}
	
	.prev-btn {
		top: -6px;
		left: -12%;
		border-width: 0 0 0 6px;
		border-radius: 15px 0 0 15px;
	}
	
	.up-icon {
		display: none;
	}

	.left-icon {
		display: block;
	}
	
	.next-btn:hover .down-fill-icon {
		display: none;
	}
	
	.next-btn:hover .right-fill-icon {
		display: block;
	}

	.prev-btn:hover .up-fill-icon {
		display: none;
	}
	
	.prev-btn:hover .left-fill-icon {
		display: block;
	}
	
	.next-btn:focus .down-fill-icon {
		display: none;
	}
	
	.next-btn:focus .right-fill-icon {
		display: block;
	}

	.prev-btn:focus .up-fill-icon {
		display: none;
	}
	
	.prev-btn:focus .left-fill-icon {
		display: block;
	}
}














